<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
      <title><%= htmlWebpackPlugin.options.title %></title>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Barlow:wght@400;900&display=swap" as="style">
      <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">
    </div>
  </body>
</html>