/* https://coolors.co/320d6d-ffbfb7-ffd447-50023b-4c1c00 */

.bg-nastojte {
    background-color: #50023b !important;
}

.text-nastojte {
    color: #FFD447 !important;
}

.title-nastojte {
    color: #FFD447 !important;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 900 !important;
}

.btn-nastojte {
    color: #fff;
    background-color: #50023b;
    border-color: #50023b;
}

a {
    color:#FF8170;
}

a:hover {
    color:#FF8170;
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 900 !important;
}

h2 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 900 !important;
}

h3 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 400 !important;
}

/* 
total magic to deal with anchors hiding under the header
https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
*/
h1::before, h2::before, h3::before {
    content: '';
    display: block;
    height:      75px;
    margin-top: -75px;
    visibility: hidden;
  }

  